/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
bin/Debug/netcoreapp3.1/learn-dotnetcore.dll
bin/Debug/netcoreapp3.1/learn-dotnetcore.pdb
obj/Debug/netcoreapp3.1/learn-dotnetcore.dll
obj/Debug/netcoreapp3.1/learn-dotnetcore.pdb
